POSTGRES_USER=jobmatch_user
POSTGRES_PASSWORD=jobmatch_password
POSTGRES_DB=jobmatch_db
POSTGRES_PORT=5434
ADMINER_PORT=8082
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:POSTGRES_PORT/POSTGRES_DB?schema=public"

JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="1d"
